{% load static %}
{% load i18n %}
	<!DOCTYPE html>
<html>
  <head>
    <title>BusApp!</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{% static 'img/favicon_2.jpg'%}" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="{% static 'bower_components/select2/dist/css/select2.min.css'%}" rel="stylesheet">
    <link href="{% static 'bower_components/dropzone/dist/dropzone.css'%}" rel="stylesheet">
    <link href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.css'%}" rel="stylesheet">
    <link href="{% static 'bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css'%}" rel="stylesheet">
    <link href="{% static 'bower_components/slick-carousel/slick/slick.css'%}" rel="stylesheet">
    <link href="{% static 'bower_components/dragula.js/dist/dragula.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/leaflet.extra-markers.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">
    <link href="{% static 'icon_fonts_assets/feather/style.css'%}" rel="stylesheet">
    <link href="{% static 'icon_fonts_assets/themefy/themify-icons.css'%}" rel="stylesheet">
    <link href="{% static 'bower_components/select2/dist/css/select2.min.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet/1/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>


  </head>
  <body class="menu-position-side menu-side-left full-screen with-content-panel" style="height: 100%">
    <div class="all-wrapper with-side-panel solid-bg-all" style="height: 100%;">
      
      <div class="search-with-suggestions-w">
        <div class="search-with-suggestions-modal">
          <div class="element-search">
            <input class="search-suggest-input" placeholder="Start typing to search..." type="text">
              <div class="close-search-suggestions">
                <i class="os-icon os-icon-x"></i>
              </div>
            </input>
          </div>
          <div class="search-suggestions-group">
            <div class="ssg-header">
              <div class="ssg-icon">
                <div class="os-icon os-icon-box"></div>
              </div>
              <div class="ssg-name">
                Projects
              </div>
              <div class="ssg-info">
                24 Total
              </div>
            </div>
            <div class="ssg-content">
              <div class="ssg-items ssg-items-boxed">
                <a class="ssg-item" href="users_profile_big.html">
                  <div class="item-media" style="background-image: url(img/company6.png)"></div>
                  <div class="item-name">
                    Integ<span>ration</span> with API
                  </div>
                </a><a class="ssg-item" href="users_profile_big.html">
                  <div class="item-media" style="background-image: url(img/company7.png)"></div>
                  <div class="item-name">
                    Deve<span>lopm</span>ent Project
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="search-suggestions-group">
            <div class="ssg-header">
              <div class="ssg-icon">
                <div class="os-icon os-icon-users"></div>
              </div>
              <div class="ssg-name">
                Customers
              </div>
              <div class="ssg-info">
                12 Total
              </div>
            </div>
            <div class="ssg-content">
              <div class="ssg-items ssg-items-list">
                <a class="ssg-item" href="users_profile_big.html">
                  <div class="item-media" style="background-image: url(img/avatar1.jpg)"></div>
                  <div class="item-name">
                    John Ma<span>yer</span>s
                  </div>
                </a><a class="ssg-item" href="users_profile_big.html">
                  <div class="item-media" style="background-image: url(img/avatar2.jpg)"></div>
                  <div class="item-name">
                    Th<span>omas</span> Mullier
                  </div>
                </a><a class="ssg-item" href="users_profile_big.html">
                  <div class="item-media" style="background-image: url(img/avatar3.jpg)"></div>
                  <div class="item-name">
                    Kim C<span>olli</span>ns
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="search-suggestions-group">
            <div class="ssg-header">
              <div class="ssg-icon">
                <div class="os-icon os-icon-folder"></div>
              </div>
              <div class="ssg-name">
                Files
              </div>
              <div class="ssg-info">
                17 Total
              </div>
            </div>
            <div class="ssg-content">
              <div class="ssg-items ssg-items-blocks">
                <a class="ssg-item" href="#">
                  <div class="item-icon">
                    <i class="os-icon os-icon-file-text"></i>
                  </div>
                  <div class="item-name">
                    Work<span>Not</span>e.txt
                  </div>
                </a><a class="ssg-item" href="#">
                  <div class="item-icon">
                    <i class="os-icon os-icon-film"></i>
                  </div>
                  <div class="item-name">
                    V<span>ideo</span>.avi
                  </div>
                </a><a class="ssg-item" href="#">
                  <div class="item-icon">
                    <i class="os-icon os-icon-database"></i>
                  </div>
                  <div class="item-name">
                    User<span>Tabl</span>e.sql
                  </div>
                </a><a class="ssg-item" href="#">
                  <div class="item-icon">
                    <i class="os-icon os-icon-image"></i>
                  </div>
                  <div class="item-name">
                    wed<span>din</span>g.jpg
                  </div>
                </a>
              </div>
              <div class="ssg-nothing-found">
                <div class="icon-w">
                  <i class="os-icon os-icon-eye-off"></i>
                </div>
                <span>No files were found. Try changing your query...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="layout-w" style="height: 100%;">
        <!--------------------
        START - Mobile Menu
        -------------------->
        <div class="menu-mobile menu-activated-on-click color-scheme-dark">
          <div class="mm-logo-buttons-w">
            <a class="mm-logo" href="index.html"><img src="img/remises.png"><span>Siglo XXI</span></a>
            <div class="mm-buttons">
              <div class="content-panel-open">
                <div class="os-icon os-icon-grid-circles"></div>
              </div>
              <div class="mobile-menu-trigger">
                <div class="os-icon os-icon-hamburger-menu-1"></div>
              </div>
            </div>
          </div>
          <div class="menu-and-user">
            <div class="logged-user-w">
              <div class="avatar-w">
                <img alt="" src="{% static 'img/company3.png'%}">
              </div>
              <div class="logged-user-info-w">
                <div class="logged-user-name">
                  {{ user.username }}
                </div>
                <div class="logged-user-role">
                  Operador
                </div>
              </div>
            </div>
            <!--------------------
            START - Mobile Menu List
            -------------------->
            <ul class="main-menu">
              <li class="has-sub-menu">
                <a href="index.html">
                  <div class="icon-w">
                    <div class="os-icon os-icon-layout"></div>
                  </div>
                  <span>Dashboard</span></a>
              </li>
              <li class="has-sub-menu">
                <a href="layouts_menu_top_image.html">
                  <div class="icon-w">
                    <div class="os-icon os-icon-layers"></div>
                  </div>
                  
              </li>
              
            </ul>
            <!--------------------
            END - Mobile Menu List
            -------------------->
            
          </div>
        </div>
        <!--------------------
        END - Mobile Menu
        --------------------><!--------------------
        START - Main Menu
        -------------------->


        <div class="menu-w selected-menu-color-light menu-activated-on-hover menu-has-selected-link color-scheme-light color-style-transparent sub-menu-color-bright menu-position-side menu-side-left menu-layout-full sub-menu-style-over">
          <div class="logo-w">
            <a class="logo" href="#">
              <img alt="" src="{% static 'img/muni.png'%}" style="width: 200px">
            </a>
          </div>
          <div class="logged-user-w avatar-inline">
            <div class="logged-user-i">
                <i class="os-icon os-icon-user-male-circle2" style="font-size: 30px"></i>
              <div class="logged-user-info-w">
                <div class="logged-user-name">
                  {{user.username}}
                </div>
                <div class="logged-user-role">
                  Operador
                </div>
              </div>
              <div class="logged-user-toggler-arrow">
                <div class="os-icon os-icon-chevron-down"></div>
              </div>
              <div class="logged-user-menu color-style-bright">
                <div class="logged-user-avatar-info">
                  <div class="avatar-w">
                    <img alt="" src="{% static 'img/company3.png'%}">
                  </div>
                  <div class="logged-user-info-w">
                    <div class="logged-user-name">
                      {{user.username}}
                    </div>
                    <div class="logged-user-role">
                      operador
                    </div>
                  </div>
                </div>
                <div class="bg-icon">
                  <i class="os-icon os-icon-wallet-loaded"></i>
                </div>
                <ul><li><a href="{% url 'logout' %}"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a></li></ul>
              </div>
            </div>
          </div>
          


          <h1 class="menu-page-header">
            Page Header
          </h1>
          <ul class="main-menu">
            <li class="sub-header">
              <span>Tablero de mando</span>
            </li>
            <li class="selected has-sub-menu">
              <a href="{% url 'dashboard' %}">
                <div class="icon-w">
                  <i class="os-icon os-icon-layout"></i>
                </div>
                <span>Dashboard</span></a>
            </li>
            <li class=" has-sub-menu">
              <a href="{% url 'listaReclamos' %}">
                <div class="icon-w">
                  <i class="fa fa-bullhorn"></i>
                </div>
                <span>Reclamos</span></a>
            </li>
            <li class="sub-header">
              <span>Mapa paradas frecuentes</span>
            </li>
            <li class="selected has-sub-menu">
              <a href="{% url 'mapaDestinos' %}" >
                <div class="icon-w">
                  <i class="fas fa-map-marked-alt"></i>
                </div>
                <span>Heat Map</span></a>
            </li>
          </ul>
        </div>
        <!--------------------
        END - Main Menu
        -------------------->
        

          <!-- //////////////////////////////////////////////////////////////////////////// -->

      <!-- START CONTENT -->
       {% block content %}
          
      {% endblock content %}
      <!-- END CONTENT -->

	<script src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static 'bower_components/popper.js/dist/umd/popper.min.js'%}"></script>
    <script src="{% static 'bower_components/moment/moment.js'%}"></script>
    <script src="{% static 'bower_components/chart.js/dist/Chart.min.js'%}"></script>
    <script src="{% static 'bower_components/select2/dist/js/select2.full.min.js'%}"></script>
    <script src="{% static 'bower_components/jquery-bar-rating/dist/jquery.barrating.min.js'%}"></script>
    <script src="{% static 'bower_components/ckeditor/ckeditor.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-validator/dist/validator.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap-daterangepicker/daterangepicker.js'%}"></script>
    <script src="{% static 'bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js'%}"></script>
    <script src="{% static 'bower_components/dropzone/dist/dropzone.js'%}"></script>
    <script src="{% static 'bower_components/editable-table/mindmup-editabletable.js'%}"></script>
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js'%}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js'%}"></script>
    <script src="{% static 'bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js'%}"></script>
    <script src="{% static 'bower_components/tether/dist/js/tether.min.js'%}"></script>
    <script src="{% static 'bower_components/slick-carousel/slick/slick.min.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/util.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/alert.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/button.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/carousel.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/collapse.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/dropdown.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/modal.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/tab.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/tooltip.js'%}"></script>
    <script src="{% static 'bower_components/bootstrap/js/dist/popover.js'%}"></script>
    <script src="{% static 'bower_components/dragula.js/dist/dragula.min.js'%}"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>
    <script src="{% static 'js/demo_customizer.js'%}"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <script src="{% static 'js/leaflet.extra-markers.min.js'%}"></script>
    <script src="{% static 'js/reconnecting-websocket.min.js'%}"></script>
    <script src="{% static 'js/heatmap.min.js'%}"></script>
    <script src="{% static 'js/leaflet-heatmap.js'%}"></script>



    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-XXXXXXX-9', 'auto');
      ga('send', 'pageview');
    </script>
    
    {% block extra_js%}

    {% endblock extra_js%}
  </body>
</html>

