{% extends "base.html" %}
{% block content %}
<div class="content-w">
  <div class="content-i">
    <div class="content-box">
      <div class="element-wrapper compact pt-4">
        <div class="element-actions">
          <a class="btn btn-primary btn-sm" data-target="#taskModal" data-toggle="modal" href="#"><i class="os-icon os-icon-ui-22"></i><span>Agregar Noticia</span></a>
        </div>
        <h6 class="element-header">
          Tablero de mando
        </h6>
        <div class="row">
          <div class="col-lg-6 col-xxl-6">
            <!--START - BALANCES-->
            <div class="element-balances">
              <div class="balance hidden-mobile">
                <div class="balance-title">
                  Reclamos
                </div>
                <div class="balance-value">
                  <span>12</span><span class="trending trending-down-basic"><span>xdia</span></span>
                </div>
                <div class="balance-link">
                  <a class="btn btn-link btn-underlined" href="#"><span>Ver reclamos</span><i class="os-icon os-icon-arrow-right4"></i></a>
                </div>
              </div>
              <div class="balance">
                <div class="balance-title">
                  Paradas
                </div>
                <div class="balance-value">
                  800
                </div>
                <div class="balance-link">
                  <a class="btn btn-link btn-underlined" href="#"><span>Ver</span><i class="os-icon os-icon-arrow-right4"></i></a>
                </div>
              </div>
              <div class="balance">
                <div class="balance-title">
                 Pendientes
               </div>
               <div class="balance-value danger">
                80
              </div>
              <div class="balance-link">
                <a class="btn btn-link btn-underlined btn-gold" href="#"><span>Ver</span><i class="os-icon os-icon-arrow-right4"></i></a>
              </div>
            </div>
          </div>
          <!--END - BALANCES-->

          <div class="element-wrapper">
            <div class="element-box">
              <div class="element-actions">
                <div class="form-group">
                  <select class="form-control form-control-sm">
                    <option selected="true">
                      Last 30 days
                    </option>
                    <option>
                      This Week
                    </option>
                    <option>
                      This Month
                    </option>
                    <option>
                      Today
                    </option>
                  </select>
                </div>
              </div>
              <h5 class="element-box-header">
                Movimientos Historicos
              </h5>
              <div class="el-chart-w">
                <canvas data-chart-data="13,28,19,24,43,49,40,35,42,46" height="90" id="liteLineChartV2" width="300"></canvas>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="element-wrapper compact pt-4">
                <div class="element-actions">
                  <form class="form-inline justify-content-sm-end">
                    <label class="smaller" for="">Ordenar</label>
                    <select class="form-control form-control-sm form-control-faded">
                      <option value="Pending">Today</option>
                      <option value="Active">Last Week </option>
                      <option value="Cancelled">Last 30 Days</option>
                    </select></form>
                    </div>
                    <h6 class="element-header">Ramales Frecuentes</h6>
                    <div class="element-box-tp">
                      <table class="table table-clean">
                        <tbody>
                          <tr>
                            <td>
                              <div class="value">Linea 3</div><span class="sub-value">Ramal A</span>
                            </td>
                            <td class="text-right">
                              <div class="value">37</div>
                            </td>
                          </tr>
                          <tr>
                              <td>
                                <div class="value">Linea 12</div><span class="sub-value">Ramal A</span>
                              </td>
                              <td class="text-right">
                                <div class="value">20</div>
                              </td>
                            </tr>
                            <tr>
                                <td>
                                  <div class="value">Linea 3</div><span class="sub-value">Ramal B</span>
                                </td>
                                <td class="text-right">
                                  <div class="value">17</div>
                                </td>
                              </tr>
                              <tr>
                                  <td>
                                    <div class="value">Linea 6</div><span class="sub-value">Ramal A</span>
                                  </td>
                                  <td class="text-right">
                                    <div class="value">15</div>
                                  </td>
                                </tr>
                                <tr>
                                    <td>
                                      <div class="value">Linea 3</div><span class="sub-value">Ramal A</span>
                                    </td>
                                    <td class="text-right">
                                      <div class="value">14</div>
                                    </td>
                                  </tr>
                        </tbody>
                      </table><a class="centered-load-more-link" href="#"><span>Load More Messages</span></a>
                    </div>
                    </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="element-wrapper compact pt-4">
                          <div class="element-actions">
                            <form class="form-inline justify-content-sm-end">
                              <label class="smaller" for="">Ordenar</label>
                              <select class="form-control form-control-sm form-control-faded">
                                <option value="Pending">Today</option>
                                <option value="Active">Last Week </option>
                                <option value="Cancelled">Last 30 Days</option>
                              </select></form>
                              </div>
                              <h6 class="element-header">Paradas Frecuentes</h6>
                              <div class="element-box-tp">
                                <table class="table table-clean">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <div class="value">Linea 3</div><span class="sub-value">Ramal A</span>
                                      </td>
                                      <td class="text-right">
                                        <div class="value">37</div>
                                      </td>
                                    </tr>
                                    <tr>
                                        <td>
                                          <div class="value">Linea 12</div><span class="sub-value">Ramal A</span>
                                        </td>
                                        <td class="text-right">
                                          <div class="value">20</div>
                                        </td>
                                      </tr>
                                      <tr>
                                          <td>
                                            <div class="value">Linea 3</div><span class="sub-value">Ramal B</span>
                                          </td>
                                          <td class="text-right">
                                            <div class="value">17</div>
                                          </td>
                                        </tr>
                                        <tr>
                                            <td>
                                              <div class="value">Linea 6</div><span class="sub-value">Ramal A</span>
                                            </td>
                                            <td class="text-right">
                                              <div class="value">15</div>
                                            </td>
                                          </tr>
                                          <tr>
                                              <td>
                                                <div class="value">Linea 3</div><span class="sub-value">Ramal A</span>
                                              </td>
                                              <td class="text-right">
                                                <div class="value">14</div>
                                              </td>
                                            </tr>
                                  </tbody>
                                </table><a class="centered-load-more-link" href="#"><span>Load More Messages</span></a>
                              </div>
                              </div>
                              </div>

                            </div>

        </div>
        <div class="col-lg-6 col-xxl-6">
          <!--START - MESSAGE ALERT-->
          <div id="noticias">
            {% for n in noticias %}
            <div class="alert alert-info borderless" id="noticia{{n.id}}">
              <div class="row">
                <h5 class="alert-heading" id="titulo{{n.id}}">
                  {{n.titulo}} - #{{n.linea}} 
                </h5>
                <div style="position: absolute; top: 5px; right: 5px;font-size: 20px;">
                  <div class="edit-btn" id="boton">
                    <a  id="{{n.id}}" href="#"><i class="os-icon os-icon-ui-49"></i></a>
                  </div>
                  <a href="#" id="{{n.id}}" class="eliminar-btn" ><i class="os-icon os-icon-ui-15"></i></a></div>
                </div>

                <p id="descripcion{{n.id}}">
                  {{n.descripcion}}
                </p>

              </div>

              {% endfor %}
              <!--END - MESSAGE ALERT-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modalEditar"></div>
  <div class="modal fade" id="taskModal" role="dialog" tabindex="-1" style="display: none;"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header faded smaller"><div class="modal-title"><span>Agregar Novedad</span></div><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> ×</span></button></div><div class="modal-body">
    <form data-toggle="validator" role="form" id="form2">
      <div class="form-group titulo">
        <label for="">Titulo</label>
        <input class="form-control" placeholder="Ingresar el titulo" type="text"></div>
        <div class="form-group descripcion">
          <label for="">Descripcion</label>
          <textarea class="form-control" name="" rows="3"></textarea></div>
        </form>
      </div>
      <div class="modal-footer buttons-on-left">
        <div class="novedad-btn" id="boton">
          <a class="btn btn-primary" id="pepe" href="#">Enviar</a>
        </div>
        <button class="btn btn-link" data-dismiss="modal" type="button"> Cancelar</button>
      </div></div>
    </div></div>

        
        
        
        </div>
{% endblock content %}
{% block extra_js%}
<script type="text/javascript">
 $('.novedad-btn a').on('click', function (event) {

    var titulo = $('.titulo input').val();
    var descripcion = $('.descripcion textarea').val();
    //$('#pepe').html('<div class="loader"></div>');
    $.ajax({
                data:{'titulo':titulo, 'descripcion':descripcion},
                url : "{% url 'crearNovedad' %}",
                type: 'get',
                cache: false,
                success: function(data){
                    console.log("todo tranca");
                    salida = '<div class="alert alert-info borderless"><div class="row">'
                    salida += '<h5 class="alert-heading">'+data.titulo+''
                    salida +=  '</h5>'
                    salida += '<div style="position: absolute; top: 5px; right:'
                    salida +=' 5px;font-size: 20px;">'
                     salida +='<div class="edit-btn" id="boton"><a  id="'+data.id+'" href="#"><i class="os-icon os-icon-ui-49"></i></a></div>'
                    salida +='<a href="#" id="'+data.id+'" class="eliminar-btn" ><i class="os-icon os-icon-ui-15"></i></a></div>    </div>'
                    salida +='<p>'+ data.descripcion+'</p></div>'
                    $('#noticias').prepend(salida);
                    //$('#user-list').prepend();
                    $('#taskModal').modal('hide');
                    //$('#snackbar').html('El pedido fue cargado con exito');
                    $('#form2')[0].reset();
                    location.reload();

                    //y.className = "show";
                    //setTimeout(function(){ y.className = y.className.replace("show", ""); }, 3000);
                    //$('#pepe').html('Enviar');


                },
                  fail: function (data) {
                      console.log("everything went to shit");
                      $('#snackbar').html('Ocurrio un error al cargar el pedido, intentelo nuevamente');
                    y.className = "show";
                    setTimeout(function(){ y.className = y.className.replace("show", ""); }, 3000);
                    $('#boton').html('<a class="btn btn-primary" href="#">Enviar</a>');
                  }
                
            });

    
    return false;
  });

 $('.edit-btn a').on('click', function (event) {

    var id = $(this).attr("id");
    //$('#pepe').html('<div class="loader"></div>');
    $.ajax({
                data:{'id':id,},
                url : "{% url 'obtenerNovedad' %}",
                type: 'get',
                cache: false,
                success: function(data){
                    console.log("todo tranca");
                    salida = '<div class="modal fade" id="editModal" role="dialog" tabindex="-1" style="display: none"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header faded smaller"><div class="modal-title"><span>Editar Novedad</span>'
                    salida += '</div><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true"> ×</span></button></div>'
                    salida +=  '<div class="modal-body"><form data-toggle="validator" role="form" id="form'+id+'"><div class="form-group tituloEdit"><label for="">Titulo</label><input class="form-control" value="'+data.novedad.titulo+'" type="text"></div>'
                    salida +='  <div class="form-group descripcionEdit"><label for="">Descripcion</label>'
                salida +='<textarea class="form-control" rows="3">'+data.novedad.descripcion+'</textarea></div></form>'
                     salida +='</div><div class="modal-footer buttons-on-left"><div  id="boton"><a class="btn btn-primary editar-btn" id="'+id+'" href="#">Editar</a></div><button class="btn btn-link" data-dismiss="modal" type="button"> Cancelar</button>     </div></div></div></div>'
                    $('.modalEditar').html(salida);
                    $('#editModal').modal('show');
                    //$('#user-list').prepend();
                    //$('#snackbar').html('El pedido fue cargado con exito');

                    //y.className = "show";
                    //setTimeout(function(){ y.className = y.className.replace("show", ""); }, 3000);
                    //$('#pepe').html('Enviar');


                },
                  fail: function (data) {
                      console.log("everything went to shit");
                      $('#snackbar').html('Ocurrio un error al cargar el pedido, intentelo nuevamente');
                    y.className = "show";
                    setTimeout(function(){ y.className = y.className.replace("show", ""); }, 3000);
                    $('#boton').html('<a class="btn btn-primary" href="#">Enviar</a>');
                  }
                
            });

    
    return false;
  });

 $('.modalEditar').on('click','.editar-btn', function (event) {

    var titulo = $('.tituloEdit input').val();
    var descripcion = $('.descripcionEdit textarea').val();
    var id = $(this).attr("id");
    //$('#pepe').html('<div class="loader"></div>');
    $.ajax({
                data:{'id':id,'titulo':titulo, 'descripcion':descripcion},
                url : "{% url 'editarNovedad' %}",
                type: 'get',
                cache: false,
                success: function(data){
                    console.log("todo tranca");


                    //$('#noticia'+id).html();
                    $('#titulo'+id).html(data.novedad.titulo);
                    $('#descripcion'+id).html(data.novedad.descripcion);

                    $('#editModal').modal('hide');

                    $('#form'+id)[0].reset();
                    $('#form2')[0].reset();

                },
                  fail: function (data) {
                      console.log("everything went to shit");
                      $('#snackbar').html('Ocurrio un error al cargar el pedido, intentelo nuevamente');
                    y.className = "show";
                    setTimeout(function(){ y.className = y.className.replace("show", ""); }, 3000);
                    $('#boton').html('<a class="btn btn-primary" href="#">Enviar</a>');
                  }
                
            });

    
    return false;
  });

 $('#noticias').on('click','.eliminar-btn', function (event) {

    var id = $(this).attr("id");
    //$('#pepe').html('<div class="loader"></div>');
    $.ajax({
                data:{'id':id,},
                url : "{% url 'eliminarNovedad' %}",
                type: 'get',
                cache: false,
                success: function(data){
                    console.log("todo tranca");

                    $('#noticia'+id).remove();

                },
                  fail: function (data) {
                      console.log("everything went to shit");
                      $('#snackbar').html('Ocurrio un error al cargar el pedido, intentelo nuevamente');
                    y.className = "show";
                    setTimeout(function(){ y.className = y.className.replace("show", ""); }, 3000);
                    $('#boton').html('<a class="btn btn-primary" href="#">Enviar</a>');
                  }
                
            });

    
    return false;
  });
</script>


{% endblock extra_js%}