{% extends "base.html" %}
{% load staticfiles%}
{% block extrastyle %}
<script src="{% static 'js/leaflet-heatmap.js'%}"></script>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
{% endblock extrastyle %}
{% block content %}
<div class="content-w">
          <div class="content-i">

            <div class="content-box">
              
              <h6 class="element-header">
                      Mapa paradas frecuentes
                    </h6>
              <div id="map" style="height: 600px;"></div>
  </div>
  </div>
 </div>
{% endblock content %}
{% block extra_js%}

 <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
 
 <script type="text/javascript">

  var testData = {
  max: 8,
  data: [{lat: -27.455, lng:-58.985, count: 3},{lat:-27.450, lng:-58.986, count: 8},{lat: -27.451, lng:-58.988, count: 3},{lat: -27.459, lng:-58.977, count: 9},{lat: -27.455, lng:-58.985, count: 3},{lat: -27.455, lng:-58.985, count: 3}]
};

var baseLayer = L.tileLayer(
  'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
    attribution: '...',
    maxZoom: 18
  }
);
 var cfg = {
  // radius should be small ONLY if scaleRadius is true (or small radius is intended)
  // if scaleRadius is false it will be the constant radius used in pixels
  "radius": 0.003,
  "maxOpacity": .5, 
  // scales the radius based on map zoom
  "scaleRadius": true, 
  // if set to false the heatmap uses the global maximum for colorization
  // if activated: uses the data maximum within the current map boundaries 
  //   (there will always be a red spot with useLocalExtremas true)
  "useLocalExtrema": true,
  // which field name in your data represents the latitude - default "lat"
  latField: 'lat',
  // which field name in your data represents the longitude - default "lng"
  lngField: 'lng',
  // which field name in your data represents the data value - default "value"
  valueField: 'count'
};

var heatmapLayer = new HeatmapOverlay(cfg);
  //var data = {{reclamos_json}};
  //sample data values for populate map
  var map = new L.Map('map', {zoom: 14,layers: [baseLayer, heatmapLayer], center: new L.latLng([-27.45, -58.98]) });  //set center from first location
  //map.addLayer(new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png')); //base layer
  ////////////populate map with markers from sample data
  //for(i in data) {
    heatmapLayer.setData(testData);
//
  //}
  
</script>

{% endblock extra_js%}