{% extends "base.html" %}
{% block content %}
<div class="content-w">
          <div class="content-i">
          	<div class="content-box">
          	<div class="row pt-4">
          	<div class="col-sm-12">
                  <!--START - Recent Ticket Comments-->
                  {% if reclamos_list %}
                  <div class="element-wrapper">
                    <h6 class="element-header">
                      Lista de Reclamos
                    </h6>
                    <div class="element-box-tp">
                      <div class="table-responsive">
                        <table class="table table-padded">
                          <thead>
                            <tr>
                              <th>
                                Usuario
                              </th>
                              <th>
                                Comentario
                              </th>
                              <th class="text-center">
                                Fecha
                              </th>
                              <th>
                                Estado
                              </th>
                              <th>
                                Foto
                              </th>
                              <th>
                                Acciones
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                          	{% for r in reclamos_list %}
                            <tr>
                              <td>
                                <div class="user-with-avatar">
                                  <img alt="" src=""><span>{{r.creado_por}}</span>
                                </div>
                              </td>
                              <td>
                                <div class="smaller lighter">
                                  {{r.descripcion}}
                                </div>
                              </td>
                              <td>
                                <span>{{r.fecha}}</span>
                              </td>
                              <td class="text-center">
                                <a class="badge badge-success-inverted" href="">{{r.linea}}</a>
                              </td>
                              <td class="cell-with-media">
                                <img alt="" src="{{r.foto.url}}" width="25px">
                              </td>
                              <td class="row-actions">
                                <a href="#"><i class="os-icon os-icon-grid-10"></i></a><a href="#"><i class="os-icon os-icon-ui-44"></i></a><a class="danger" href="#"><i class="os-icon os-icon-ui-15"></i></a>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!--END - Recent Ticket Comments-->
                  {% else %}
      <p>No hay reclamos realizados.</p>
    {% endif %}  
                </div>
            </div>
        </div>
        </div>
        </div>
{% endblock content %}
{% block extra_js%}
<script type="text/javascript">
 $('.novedad-btn a').on('click', function (event) {

    var titulo = $('.titulo input').val();
    var descripcion = $('.descripcion textarea').val();
    //$('#pepe').html('<div class="loader"></div>');
    $.ajax({
                data:{'titulo':titulo, 'descripcion':descripcion,},
                url : "{% url 'crearNovedad' %}",
                type: 'get',
                cache: false,
                success: function(data){
                    console.log("todo tranca");
                    salida = '<div class="alert alert-info borderless"><div class="row">'
                    salida += '<h5 class="alert-heading">Refer Friends. Get Rewarded'
                    salida +=  '</h5>'
                    salida += '<div style="position: absolute; top: 5px; right:'
                    salida +=' 5px;font-size: 20px;">'
                     salida +='<a  data-target="#taskModal" data-toggle="modal" href="#"><i class="os-icon os-icon-ui-49"></i></a>'
                    salida +='<a href="#"><i class="os-icon os-icon-ui-15"></i></a></div>    </div>'
                    salida +='<p>You can earn: 15,000 Membership Rewards points for each approved referral – up to 55,000 Membership Rewards points per calendar year. </p></div>'
                    $('#noticias').prepend(salida);
                    //$('#user-list').prepend();
                    $('#taskModal').modal('hide');
                    //$('#snackbar').html('El pedido fue cargado con exito');
                    $('#taskModal').on('hidden.bs.modal', function(e) {
                        $(this).find('#form2')[0].reset();
                    });

                    //y.className = "show";
                    //setTimeout(function(){ y.className = y.className.replace("show", ""); }, 3000);
                    //$('#pepe').html('Enviar');


                },
                  fail: function (data) {
                      console.log("everything went to shit");
                      $('#snackbar').html('Ocurrio un error al cargar el pedido, intentelo nuevamente');
                    y.className = "show";
                    setTimeout(function(){ y.className = y.className.replace("show", ""); }, 3000);
                    $('#boton').html('<a class="btn btn-primary" href="#">Enviar</a>');
                  }
                
            });

    
    return false;
  });
</script>

{% endblock extra_js%}